/* src/components/Sidebar.css */

.sidebar {
    width: 120px;
    background-color: #f5f5f5;
    padding: 10px;
    height: calc(100vh - 60px); /* Subtract title bar height */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px; /* Account for title bar height */
    left: 0;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar nav button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #333;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.sidebar nav .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

.sidebar nav button:hover {
    background-color: #ddd;
    filter: drop-shadow(0 0 5px #000000ff);
    transition: background-color 0.3s, filter 0.3s;
}

.sidebar nav button.active,
.sidebar nav button:focus {
    outline: none;
    background-color: #ddd;
}

.nav-bottom {
    margin-top: auto;
    margin-bottom: 20px;
}